<h1>Department App</h1>

@switch (viewMode) {
    @case ("DEPARTMENT_LIST") {
        <app-department-list [departments]="departments" (departmentSelected)="handleSelectedDepartment($event)"></app-department-list>
    }
    @case ("DEPARTMENT_DETAIL") {
        <app-department-detail [department]="selectedDepartment" (close)="closeDepartmentDetail()" (goToPrev)="goToPreviousDepartment()" (goToOverview)="goToDepartmentOverview()"></app-department-detail>
    }
    @case ("DEPARTMENT_OVERVIEW") {
        <app-department-overview [department]="selectedDepartment" (close)="closeDepartmentOverview()"></app-department-overview>
    }
}
